# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtualenv
.venv/
venv/
.runtime/

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
